/*
	Author: Paul Buldak
	Class: Web and Distributed Programming
	Project: Sprint 7 - Mustang v3
	Description: This builds on mustang v2 and allows the user to create, read, 
	update, and delete contacts on the server.
*/

html, body {
	padding-left: 10px;
	padding-top: 5px;
	font-family: verdana;
	box-sizing: border-box;
}

/* Styles the basic, delete, add, and update buttons */
.button {
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 6px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	outline: none;
}
.button-delete {
	background-color: #CF2730;
}
.button-add {
	background-color: #278F2F;
}
.button-update {
	background-color: #FFA500;
}
.button-in-table {
	width: 100% !important;
}
.button:hover {
	background-color: #005C7A;
}
.button-delete:hover {
	background-color: #B5222A;
}
.button-add:hover {
	background-color: #207527;
}
.button-update:hover {
	background-color: #FF8C00;
}
.button:active {
	transform: translateY(4px);
}
.button:disabled {
	background-color: #696969;
	cursor: not-allowed;
}


/* Styles the autocomplete function for the contacts */
.autocomplete {
	position: relative;
	display: inline-block;
	width: 300px;
	left: 60%;
	top: 50px;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}
.autocomplete-active {
	background-color: #008CBA !important;
	color: white;
}
.autocomplete-box input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}
.autocomplete-box input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}


/* Styles the input text fields */
input[type=text] {
	border: 2px solid lightgray;
	border-radius: 4px;
	padding: 6px;
	transition: 0.5s;
	outline: none;
	width: 200px;
}
/* Makes the border black and makes the field larger when focused */
input[type=text]:focus {
	border: 2px solid black;
	width: 225px;
}


/* Styles the table for the index */
#indexTable {
	visibility: hidden;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
#indexTable td, #indexTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#indexTable tr:nth-child(even) {
	background-color: #f2f2f2;
}
#indexTable tr:hover {
	background-color: #ddd;
}
#indexTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #008CBA;
    color: white;
}


/* Styles the table for the contacts */
#contactTable {
	visibility: hidden;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
#contactTable td, #contactTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#contactTable tr:nth-child(even) {
	background-color: #f2f2f2;
}
#contactTable tr:hover {
	background-color: #ddd;
}
#contactTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #008CBA;
    color: white;
}

/* Style the status ID parargraph */
#statusID {
	padding-left: 5%;
}

/* Styles the snackbar that appears at bottom when the index 
	is loaded, the contacts are loaded, and the contacts are 
	logged to the console */
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}
/* Makes the snackbar visible for a limited time */
#snackbar.show {
	visibility: visible;
	animation: fadein 0.5s, fadeout 0.5s 1s;
}
/* Adds animation to the snackbar */
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}